<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.canol">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="Main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Lianjie"
            android:label="Lianjie"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Shezhi"
            android:label="Shezhi"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Fasong"
            android:label="Fasong"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Jieshou"
            android:label="Jieshou"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Jieshou1"
            android:label="Jieshou1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Qushi"
            android:label="Qushi"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Yibiaopan"
            android:label="Yibiaopan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LEDActivity"
            android:label="LEDActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".blue.BlueToothDevices"
            android:label="BlueToothDevices">

        </activity>

        <activity android:name=".blue.Ct_SendMessage"
            android:label="Ct_SendMessage">

        </activity>

        <activity
            android:name=".TableViewActivity"
            android:label="TableViewActivity">

        </activity>

    </application>

</manifest>